Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.1.1
redis==5.1.0
bcrypt==4.2.0
elasticsearch==8.15.1
scikit-learn==1.3.2
matplotlib==3.7.5
torch==2.4.1
xgboost==2.1.1
shap==0.44.1
joblib==1.4.2
pandas==2.0.3
numpy==1.24.4
SQLAlchemy==2.0.35
tqdm==4.66.5
PyMySQL==1.1.1
flask_mail
flask_socketio
PyJWT
shap
requests
openai==0.28.0
werkzeug
cryptography
python-dotenv
